rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // General rule: Allow read/write access to all documents if authenticated
    // In our architecture, the client communicates solely with our backend server (which is secure).
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
